<!-- <nav class="navbar navbar-expand-lg py-0 border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-content-end w-100 align-items-center" id="navbarSupportedContent">
            <div class="small fw-bold">
                {{this.title}}
            </div>
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn me-1" (click)="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <a class="btn" (click)="toggleBackgroundImage()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </a>
                <a class="btn">
                    <i class="fa-solid fa-search"></i>
                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/user.jpg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar bg-light navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Dropdown header</h6></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Mega Menu</a>
                        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                          <div class="container">
                            <div class="row bg-white rounded-0 m-0 shadow-sm">
                              <div class="col-lg-7 col-xl-8">
                                <div class="p-4">
                                  <div class="row">
                                    <div class="col-lg-6 mb-4">
                                      <h6 class="font-weight-bold text-uppercase">Heading one</h6>
                                      <ul class="list-unstyled">
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0">Home</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                      </ul>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                      <h6 class="font-weight-bold text-uppercase">Heading two</h6>
                                      <ul class="list-unstyled">
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                      </ul>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                      <h6 class="font-weight-bold text-uppercase">Heading three</h6>
                                      <ul class="list-unstyled">
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                      </ul>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                      <h6 class="font-weight-bold text-uppercase">Heading four</h6>
                                      <ul class="list-unstyled">
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;"></div>
                            </div>
                          </div>
                        </div>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link">Disabled</a>
                    </li>
                  </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>