<!-- <nav class="navbar navbar-expand-lg py-0 border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-content-end w-100 align-items-center" id="navbarSupportedContent">
            <div class="small fw-bold">
                {{this.title}}
            </div>
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn me-1" (click)="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <a class="btn" (click)="toggleBackgroundImage()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </a>
                <a class="btn">
                    <i class="fa-solid fa-search"></i>
                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/user.jpg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav> -->

<header>
  <nav class="navbar bg-transparent navbar-expand-lg sticky-top" (scroll)="onWindowScroll();">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/HRMS-Logo.svg" class="me-2 w-25">HRMS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item dropdown megamenu">
              <a href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="nav-link dropdown-toggle active">Asset Management</a>
              <div aria-labelledby="megamneu" class="dropdown-menu p-0">
                <div class="container">
                  <div class="mega-dropdown shadow">
                    <div class="row">
                      <div class="col-lg-3 mb-3 mb-lg-0">
                        <ul class="list-unstyled">
                          <li>
                            <h6 class="dropdown-header">Dashboard</h6>
                          </li>
                          <li><a href="" class="dropdown-item">Item Inward</a></li>
                          <li><a href="" class="dropdown-item">Item Outward</a></li>
                          <li><a href="" class="dropdown-item">Item Repair</a></li>
                          <li><a href="" class="dropdown-item">Item History</a></li>
                          <li><a href="" class="dropdown-item">Item Ledger</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-3 mb-3 mb-lg-0">
                        <ul class="list-unstyled">
                          <li>
                            <h6 class="dropdown-header">Item Master</h6>
                          </li>
                          <li><a href="" class="dropdown-item">Group Master</a></li>
                          <li><a href="" class="dropdown-item">Category Master</a></li>
                          <li><a href="" class="dropdown-item">Parameter Master</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-3 mb-3 mb-lg-0">
                        <ul class="list-unstyled">
                          <li>
                            <h6 class="dropdown-header">Vendor Master</h6>
                          </li>
                          <li><a href="" class="dropdown-item">Store Master</a></li>
                          <li><a href="" class="dropdown-item">Vendor Master</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-3 mb-3 mb-lg-0">
                        <ul class="list-unstyled">
                          <li>
                            <h6 class="dropdown-header">Item Issue</h6>
                          </li>
                          <li><a href="" class="dropdown-item">Item Registration</a></li>
                          <li><a href="" class="dropdown-item">Item Issue/Return</a></li>
                          <li><a href="" class="dropdown-item">Item Transfer</a></li>
                          <li><a href="" class="dropdown-item">Item Repair Issue/Return</a></li>
                          <li><a href="" class="dropdown-item">Item Scrap/Donated</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                HRMS
              </a>
              <ul class="dropdown-menu shadow">
                <li>
                  <h6 class="dropdown-header">Dropdown header</h6>
                </li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex align-items-center" role="search">
            <div class="input-group me-3">
              <input type="search" class="form-control" placeholder="Search">
              <button class="btn btn-outline-secondary" type="button">
                <i class="fa-solid fa-search"></i>
              </button>
            </div>
            <div class="dropdown">
              <button class="btn dropdown-toggle shadow-none p-0" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/user.jpg" class="avatar">
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" id="bread-crumb">
    <div class="row">
      <div class="col-sm-12">
        <p class="d-flex text-white fw-bold mb-0">Dashboard</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Asset Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

</header>