<!-- <nav class="navbar navbar-expand-lg py-0 border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-content-end w-100 align-items-center" id="navbarSupportedContent">
            <div class="small fw-bold">
                {{this.title}}
            </div>
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn me-1" (click)="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <a class="btn" (click)="toggleBackgroundImage()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </a>
                <a class="btn">
                    <i class="fa-solid fa-search"></i>
                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/user.jpg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav> -->

<header>
  <nav class="navbar bg-transparent navbar-expand-lg sticky-top" (scroll)="onWindowScroll();">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/HRMS-Logo.svg" class="me-2 w-25">HRMS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <div class="d-flex align-items-center">
          <span class="d-lg-none d-block me-2">MENU</span>
        <span class="navbar-toggler-icon"></span>
        </div>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="row justify-content-between w-100 gx-0">
            <div class="col-sm order-last order-lg-first">
              <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item dropdown megamenu mb-2 mb-lg-0">
                  <a href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle active d-flex justify-content-between align-items-center">Asset Management</a>
                  <div aria-labelledby="megamneu" class="dropdown-menu p-0">
                    <div class="container">
                      <div class="mega-dropdown shadow">
                        <div class="row">
                          <div class="col-lg-3 mb-3 mb-lg-0">
                            <ul class="list-unstyled">
                              <li>
                                <h6 class="dropdown-header">Dashboard</h6>
                              </li>
                              <li><a href="" class="dropdown-item">Item Inward</a></li>
                              <li><a href="" class="dropdown-item">Item Outward</a></li>
                              <li><a href="" class="dropdown-item">Item Repair</a></li>
                              <li><a href="" class="dropdown-item">Item History</a></li>
                              <li><a href="" class="dropdown-item">Item Ledger</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 mb-3 mb-lg-0">
                            <ul class="list-unstyled">
                              <li>
                                <h6 class="dropdown-header">Item Master</h6>
                              </li>
                              <li><a href="" class="dropdown-item">Group Master</a></li>
                              <li><a href="" class="dropdown-item">Category Master</a></li>
                              <li><a href="" class="dropdown-item">Parameter Master</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 mb-3 mb-lg-0">
                            <ul class="list-unstyled">
                              <li>
                                <h6 class="dropdown-header">Vendor Master</h6>
                              </li>
                              <li><a href="" class="dropdown-item">Store Master</a></li>
                              <li><a href="" class="dropdown-item">Vendor Master</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 mb-3 mb-lg-0">
                            <ul class="list-unstyled">
                              <li>
                                <h6 class="dropdown-header">Item Issue</h6>
                              </li>
                              <li><a href="" class="dropdown-item">Item Registration</a></li>
                              <li><a href="" class="dropdown-item">Item Issue/Return</a></li>
                              <li><a href="" class="dropdown-item">Item Transfer</a></li>
                              <li><a href="" class="dropdown-item">Item Repair Issue/Return</a></li>
                              <li><a href="" class="dropdown-item">Item Scrap/Donated</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown mb-2 mb-lg-0">
                  <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    HRMS
                  </a>
                  <ul class="dropdown-menu shadow">
                    <li>
                      <h6 class="dropdown-header">Dropdown header</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-sm-auto order-first order-lg-last mb-3 mb-lg-0">
              <div class="d-flex align-items-center" role="search">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search">
                  <button class="btn btn-outline-secondary" type="button">
                    <i class="fa-solid fa-search"></i>
                  </button>
                </div>
                <button class="btn mx-2 btn-icon" type="button">
                  <span class="material-symbols-outlined">
                    notifications_active
                  </span>
                </button>
                <div class="dropdown">
                  <button class="btn me-2 btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">
                      light_mode
                    </span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end shadow">
                    <li><a class="dropdown-item" href="#">
                      <span class="material-symbols-outlined me-2">
                        light_mode
                        </span> Light Mode
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                      <span class="material-symbols-outlined me-2">
                        dark_mode
                        </span>Dark Mode
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                      <span class="material-symbols-outlined me-2">
                        monitor
                        </span> System
                    </a></li>
                  </ul>
                </div>
    
                <div class="dropdown">
                  <button class="btn shadow-none p-0" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/images/user.jpg" class="avatar">
                  </button>
                  <div class="dropdown-menu dropdown-menu-end shadow avatar-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="p-2">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                          <img src="assets/images/user.jpg" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <p class="mb-0 fw-bold">Pooja Ghorpade</p>
                          <small class="text-muted">Sr. Administrator</small>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa-regular fa-circle-user me-2"></i>My Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-key me-2"></i>Change Password</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Sign Out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" id="bread-crumb">
    <div class="row">
      <div class="col-sm-12">
        <p class="d-flex text-white fw-bold mb-1">{{this.title}}</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Asset Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{this.title}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

</header>