html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif !important;
    background-color: #eee;
}
:root{
    --main-color:rgba(143,87,251);
    --main-dark-color:rgba(114,69,200);
    --main-light-color:rgb(243, 237, 254);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-main-light{
    background-color: var(--main-light-color);
}
.bg-main-dark{
    background-color: var(--main-dark-color);
}
.text-main{
    color: var(--main-color);
}
.material-symbols-outlined{
    font-size: 1.2rem !important;
    line-height: inherit !important;
}
.card,
mat-form-field,
.mat-option-text,
.mat-tab-label{
    font-family: "Rubik", "Helvetica Neue", sans-serif !important;
}
.mat-form-field-infix,
.mat-option-text{
    font-size: 0.85rem !important;
}
.dashboard-table{
    font-family: "Rubik", "Helvetica Neue", sans-serif !important;
    width: 100% !important;
}
.dashboard-table th,
.dashboard-table .mat-header-cell{
    background-color: var(--main-light-color) !important;
    font-size: 0.85rem !important;
    font-weight: 600;
    color: #333;
}
.dashboard-table th,
.dashboard-table .mat-header-cell,
.dashboard-table .mat-cell,
.dashboard-table td{
    vertical-align: middle !important;
}